footer{
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Sora', sans-serif;
    line-height: 40px;
    grid-row: 4/5;
    grid-column: 1/4;
    width: 100%;
}